html(lang="en")
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
            link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css", integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==", crossorigin="anonymous", referrerpolicy="no-referrer")
            link(rel="stylesheet", href="/css/style.css")
            title=title
    body 
        //Header
        include header_ 
        
        //Content
        block content 
            h1 This is an overview

        //Footer
        include footer_


        block script    
            script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous") 
            script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous") 
            script(src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js")
            script(src="js/alert.mjs") 
            script(src="js/authenticate.mjs") 
            script(src="js/autoCompleteSearch.mjs") 
            
            