extend base

block content 
    .container
        .row.p-4
            .col-12.text-center 
                h5 Thay đổi mật khẩu
            .col-lg-2
            .col-lg-8.p-3 
                form(class="needs-validation form-signup" novalidate)
                    .form-group
                        label(for='curentPassword') Mật khẩu hiện tại
                        input#curentPassword.form-control(type='password' required)
                        .invalid-feedback
                            Please Mật khẩu hiện tại chưa chính xác
                    .form-group
                        label(for='newPassword') Mật khẩu
                        input#newPassword.form-control(type='password' required)
                        .invalid-feedback
                            Please Mật khẩu mới chưa hợp lệ
                    .form-group
                        label(for='newPasswordConfirm') Nhập lại mật khẩu 
                        input#newPasswordConfirm.form-control(type='password' required)
                        .invalid-feedback
                            Please Mật khẩu xác nhận không chính xác
                    button.mr-3.btn.btn-primary(type='submit') Xác nhận
            .col-lg-2 

block append script 
    script(src="/js/validateForm.mjs")
    script(src="/js/updateSetting.mjs") 

