div
    .bg-primary.text-white(style = 'padding: 30px')
        .row.pb-3
            .col-md-5.col-lg-3.d-none.d-md-block
                h5.text-center Kết nối với chúng tôi 
            .col-lg-4.d-none.d-lg-block
                h5.text-center Chấp nhận thanh toán 
            .col-md-7.col-lg-5.col-12
                h5.text-center Mời bạn nhập email để nhận thông tin
        .row.align-items-center  
            .col-lg-3.col-md-5.d-none.d-md-block
                .row.align-items-center 
                    .col.d-none.d-xl-block.d-md-block.d-lg-none
                    .col.h4
                        a.text-white(href="#"): i(class="fa-brands fa-facebook") 
                    .col.h4
                        a.text-white(href="#"): i(class="fa-brands fa-google-plus-g") 
                    .col.h4
                        a.text-white(href="#"): i(class="fa-brands fa-youtube") 
                    .col.h4
                        a.text-white(href="#"): i(class="fa-brands fa-shopify")
                    .col.d-none.d-xl-block.d-md-block.d-lg-none
            .col-lg-4.align-items-center.d-none.d-lg-block
                .row.align-items-center  
                    .col.d-none.d-xl-block
                    .col.h4
                        a.text-white(href="#"): i(class="fa-brands fa-cc-visa") 
                    .col.h4
                        a.text-white(href="#"): i(class="fa-brands fa-cc-paypal") 
                    .col.h4
                        a.text-white(href="#"): i(class="fa-brands fa-cc-mastercard") 
                    .col.h4
                        a.text-white(href="#"): i(class="fa-brands fa-cc-jcb") 
                    .col.h4
                        a.text-white(href="#"): i(class="fa-solid fa-money-bills") 
                    .col.d-none.d-xl-block
            .col-lg-5.col-md-7.align-items-center.col-12
                div.input-group.mb-3
                    input.form-control(type="email" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="button-addon2")
                    div.input-group-append
                        button.btn.btn-outline-secondary.bg-warning.text-white(type="button" id="button-addon2") Gửi
    .bg-light.text-left(style = 'padding: 30px')
        h6 CÔNG TY CỔ PHẦN THƯƠNG MẠI MÁY TÍNH PHÁT TÀI.
        p 
            span Giấy chứng nhận ĐKDN số 01089408394857 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 11/05/2023.
            br
            span Trụ sở: Tầng 1, Số 439 phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Thành phố Hà Nội, Việt Nam.
            br
            sapn Điện thoại: 19000343 Email: dangphuckhoa@anphatpc.com.vn

    
