extend base


block content 
    .bg-light 
        .container
            .row.bg-white.pt-4.pb-4
                .col-12.text-center
                    h4 Thông tin
                .col-4.pl-0
                    #list-tab.list-group(role='tablist')
                    a#list-home-list.list-group-item.list-group-item-action.active(data-toggle='list' href='#list-home' role='tab' aria-controls='home') Thông tin cá nhân
                    a#list-profile-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-profile' role='tab' aria-controls='profile') Thay đổi mật khẩu
                    a#list-messages-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-messages' role='tab' aria-controls='messages') Giỏ hàng
                .col-8
                    #nav-tabContent.tab-content
                        #list-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='list-home-list') 

                        #list-profile.tab-pane.fade(role='tabpanel' aria-labelledby='list-profile-list')
                            form(class="needs-validation form-signup" novalidate)
                                .form-group
                                    label(for='curentPassword') Mật khẩu hiện tại
                                    input#curentPassword.form-control(type='password' required)
                                    .invalid-feedback
                                        Please Mật khẩu hiện tại chưa chính xác
                                .form-group
                                    label(for='newPassword') Mật khẩu
                                    input#newPassword.form-control(type='password' required)
                                    .invalid-feedback
                                        Please Mật khẩu mới chưa hợp lệ
                                .form-group
                                    label(for='newPasswordConfirm') Nhập lại mật khẩu 
                                    input#newPasswordConfirm.form-control(type='password' required)
                                    .invalid-feedback
                                        Please Mật khẩu xác nhận không chính xác
                                button.mr-3.btn.btn-primary(type='submit') Xác nhận
                        #list-messages.tab-pane.fade(role='tabpanel' aria-labelledby='list-messages-list') 234
                        #list-settings.tab-pane.fade(role='tabpanel' aria-labelledby='list-settings-list') ...

block append script 
    script(src="/js/validateForm.mjs")