extend base

block content 
    .container
        .row
            .col-lg-2
            .col-lg-8.p-3 
                form(class="needs-validation form-signup" novalidate)
                    .form-group
                        label(for='exampleInputEmail1') Tên đăng nhập
                        input#name.form-control(type='text' aria-describedby='emailHelp' required )
                        .invalid-feedback
                            Please Chưa có tên
                    .form-group
                        label(for='exampleInputEmail1') Email 
                        input#email.form-control(type='email' aria-describedby='emailHelp' required )
                        .invalid-feedback
                            Please Chưa có email hoặc email không hợp lệ
                    .form-group
                        label(for='exampleInputPassword1') Mật khẩu
                        input#password.form-control(type='password' required)
                        .invalid-feedback
                            Please Chưa có mật khẩu hoặc mật khẩu không hợp lệ
                    .form-group
                        label(for='exampleInputPassword1') Nhập lại mật khẩu 
                        input#passwordConfirm.form-control(type='password' required)
                        .invalid-feedback
                            Please Chưa có mật khẩu xác nhận hoặc mật khẩu xác nhận không chính xác
                    button.mr-3.btn.btn-primary(type='submit') Đăng kí!
                    a(href="/login") Đã có tài khoản?
            .col-lg-2 



block append script 
    script(src="/js/validateForm.mjs")

